<div class="<%= location %>">
<%= link_to "Home", root_path %>
<%= link_to "About Me", blogs_path %>
<%= link_to "Contact", portfolios_path %>
<%= link_to "Blog", contact_path %>
<%= link_to "Portfolio", about_me_path %>
</div>


<%#= partial is a html file you can call and share across a number of views %> 

<%#= a helper is going to be written in Ruby, and partial are written in html  %> 